{% extends "layouts/main.html" %}

{% block pageTitle %}
  Change log – GOV.UK One Login prototype
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        View GOV.UK One Login user journeys
      </span>

      <h1 class="govuk-heading-l">
        Change log
      </h1>

      <h2 class="govuk-heading-m">
        February 2023
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Added international phone numbers to the ‘User creates a GOV.UK One Login to save progress’ journey</li>
        <li>Added a new journey: ‘User proves their identity with a passport and knowledge-based verification (KBV) questions’</li>
      </ul>

      <h2 class="govuk-heading-m">
        November 2022
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Updated the name to ‘GOV.UK One Login’ across all journeys</li>
        <li>Added authenticator app option to the ‘User creates a GOV.UK One Login to save progress’ journey</li>
      </ul>

      <p><a href="/index">Choose a user journey to view</a></p>

    </div>
  </div>

{% endblock %}

