{% extends "layouts/main.html" %}

{% block pageTitle %}
  Checking your details – GOV.UK One Login prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Checking your details
      </h1>


      <a href="">
      <div class="spinner">
        <img src="/public/images/loading-spinner.png" alt="">
      </div>
      </a>

      <p>This can take up to 30 seconds.</p>

      <p><a href="kbv-1.html">continue</a></p>


    </div>
  </div>

{% endblock %}

