{% extends "layouts/main.html" %}

{% block pageTitle %}
  You can confirm your identity by entering details about your documents and records – GOV.UK One Login prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You can confirm your identity by entering details about your documents and records
      </h1>

        <p>Based on what you’ve told us, this is the best option for you. You can choose this option on the next screen.</p>

        <a href="passport-kbv-intro">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
        </a>

      </form>

    </div>
  </div>

{% endblock %}
