{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create a GOV.UK One Login or sign in
      </h1>

      <form class="form" method="post">

        <p>You’ll need:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>an email address</li>
          <li>a way to get security codes - this can be a mobile phone number or an authenticator app</li>
        </ul>

        <div class="govuk-inset-text">
          GOV.UK One Login is also available in <a href=# class="govuk-link govuk-link--no-visited-state">Welsh (Cymraeg)</a>.
        </div>

        <button class="govuk-button">Continue</button>

        <p>If you already have a GOV.UK One Login you can <a href="enter-email.html" class="govuk-link govuk-link--no-visited-state">sign in</a>.</p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">Prove your identity in person</span>
          </summary>
          <div class="govuk-details__text">
            <p>Content TBC</p>
          </div>
        </details>

      </form>

    </div>
  </div>

{% endblock %}
