{% extends "layouts/main.html" %}

{% block pageTitle %}
  Prove your identity – GOV.UK One Login prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Prove your identity
      </h1>

      <p>To use [service], you need to first prove your identity</p>

      <p>You can do this online by signing in to or creating a GOV.UK One Login.</p>

      <a href="prove-identity-with-one-login">
      <button class="govuk-button" data-module="">Continue</button>
      </a>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Prove your identity in person</span>
        </summary>
        <div class="govuk-details__text">
          <p>If you cannot prove your identity online with a GOV.UK account you can still continue to apply. 
            You will still need your identity and financial documents to hand. 
            But you’ll also need to go to a UK post office in person after completing your application.</p>

          <p>You’ll have 10 days to take your identity documents to a UK post office that offers the DBS ID validation service.</p>

          <p>We’ll only start processing your application after you’ve proven your identity at a UK post office.</p>

          <p><a href="#" class="govuk-link">Continue to prove your identity in person</a></p>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
