{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Prove your identity
      </h1>

      <p>To use [service], you need to first prove your identity</p>

      <p>You can do this online by signing in to or creating a GOV.UK One Login.</p>

      <a href="prove-identity-with-one-login">
      <button class="govuk-button" data-module="">Continue</button>
      </a>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Prove your identity in person</span>
        </summary>
        <div class="govuk-details__text">
          <p>Content TBC</p>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
