{% extends "layouts/main.html" %}

{% block pageTitle %}
  Home – GOV.UK One Login prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        View GOV.UK One Login user journeys
      </h1>

      <p>This prototype lets you view GOV.UK One Login journeys from the perspective of a user.</p>

      <h2 class="govuk-heading-m">
        Choose a user journey to view
      </h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">User creates a GOV.UK One Login to save their progress</a>
        </li>
        <li>
          <a class="govuk-link" href="#">User proves their identity with a chipped passport using the GOV.UK ID Check app</a>
        </li>
        <li>
          <a class="govuk-link" href="#">User proves their identity with a passport and knowledge-based verification (KBV) questions</a>
        </li>
        <li>
          <a class="govuk-link" href="#">User changes their GOV.UK One Login credentials</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        About the GOV.UK One Login prototype
      </h2>

      <p>We update the prototype at least once every quarter, so it may not exactly represent the live journey.</p>

      <p>This prototype was last updated in February 2023. </p>
        
      <p>You can view recent updates in the <a href="/url/of/onward/page">change log</a>.</p>

      <h2 class="govuk-heading-m">
        Help improve our prototype
      </h2>

      <p>We plan to iterate this prototype and add more journeys in future.</p>

      <p>To give any feedback or suggest a specific journey, contact us using our <a href="/url/of/onward/page">support form</a>
         or <a href="/url/of/onward/page">Slack channel</a>.</p>
        

    </div>
  </div>

{% endblock %}

