{% extends "layouts/main.html" %}

{% block pageTitle %}
  User proves their identity with a passport and knowledge-based verification (KBV) questions – GOV.UK One Login prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        View GOV.UK One Login user journeys
      </span>

      <h1 class="govuk-heading-l">
        User proves their identity with a passport and knowledge-based verification (KBV) questions
      </h1>

      <a href="/service-start-page" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start journey
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>

        {{ govukDetails({
          summaryText: "Jump to a specific screen",
          html: "
          <strong>User creates a GOV.UK One Login / uses it to sign in</strong><br>
            <a href=service-start-page.html>Service start page</a><br>
            <a href=prove-identity-with-one-login.html>Prove your identity with a GOV.UK One Login</a><br>
            <a href=photo-id-required.html>You must have photo ID to prove your identity with a GOV.UK One Login</a><br>
            <a href=create-or-sign-in.html>Create a GOV.UK One Login or sign in</a><br>
            <a href=enter-email.html>Enter your email address to sign in to your GOV.UK One Login</a><br>
            <a href=enter-password.html>Enter your password</a><br>
            <a href=check-phone.html>Check your phone</a><br>
            <a href=signed-in.html>You’ve signed in to your GOV.UK One Login</a><br>
          <strong>User is routed to the identity checks they need to do</strong><br>
            <a href=computer-tablet.html>Are you on a computer or a tablet right now?</a><br>
          <strong>User answers questions to see if they can use the app</strong><br>
            <a href=smartphone.html>Do you have a smartphone you can use?</a><br>
          <strong>Passport check</strong><br>
            <a href=confirm-web.html>You can confirm your identity by entering details about your documents and records</a><br>
            <a href=passport-kbv-intro.html>Enter your passport details and answer security questions</a><br>
            <a href=passport-details.html>Enter your details exactly as they appear on your UK passport</a><br>
          <strong>Address check</strong><br>
            <a href=find-address.html>Find your address</a><br>
            <a href=choose-address.html>Choose your address</a><br>
            <a href=enter-address.html>Enter your address</a><br>
            <a href=confirm-address.html>Confirm your details</a><br>
          <strong>Fraud check</strong><br>
            <a href=fraud-check.html>We need to check your details</a><br>
          <strong>Knowledge based verification (KBV) security questions</strong><br>
            <a href=answer-security-questions.html>Answer security questions</a><br>
            <a href=checking-for-kbv.html>Checking your details</a><br>
            <a href=kbv-1.html>Security question 1</a><br>
            <a href=kbv-2.html>Security question 2</a><br>
            <a href=kbv-3.html>Security question 3</a><br>
            <a href=kbv-4.html>Security question 4</a><br>
          <strong>The user and their verified identity are passed back to the service</strong><br>
            <a href=success.html>You’ve successfully proved your identity</a>
            "
        }) }}

      <h2 class="govuk-heading-m">
        High level diagram of this journey
      </h2>

      <img src="/public/images/Identity-diagram-kbv.png" alt=" " style="width: 100%; height: auto;">

    </div>
  </div>

{% endblock %}

