{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "How much of your loan do you pay back every month?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Think about the amount you agreed to pay back every month on a personal loan. This does not include hire purchase agreements, second mortgages, home credit loans or student loans. You can find this amount on your loan agreement."
  },
  items: [
    {
      value: "yes",
      text: "UP TO £200",
      attributes: {
        disabled: true
      } 
    },
    {
      value: "no",
      text: "OVER £200 UP TO £400",
      checked: true
    },
    {
      value: "no",
      text: "OVER £400 UP TO £600",
      attributes: {
        disabled: true
      } 
    },
    {
      value: "no",
      text: "NONE OF THE ABOVE / DOES NOT APPLY",
      attributes: {
        disabled: true
      } 
    }
  ]
}) }}

<a href="kbv-3">
<button class="govuk-button" data-module="govuk-button">Continue</button>
</a>

    </div>
  </div>

{% endblock %}
