{% extends "layouts/main.html" %}

{% block pageTitle %}
  When did you open your current account? – GOV.UK One Login prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "When did you open your current account?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Think about your current account only. This does not include any joint, business or saving accounts you might have."
  },
  items: [
    {
      value: "yes",
      text: "04/2017",
      attributes: {
        disabled: true
      } 
    },
    {
      value: "no",
      text: "10/2017",
      attributes: {
        disabled: true
      } 
    },
    {
      value: "no",
      text: "03/2021",
      checked: true
    },
    {
      value: "no",
      text: "NONE OF THE ABOVE / DOES NOT APPLY",
      attributes: {
        disabled: true
      } 
    }
  ]
}) }}

<a href="kbv-4">
<button class="govuk-button" data-module="govuk-button">Continue</button>
</a>

    </div>
  </div>

{% endblock %}
