{% extends "layouts/main.html" %}

{% block pageTitle %}
  Privacy policy declaration – GOV.UK One Login prototype
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Privacy policy declaration
      </h1>

      <form class="form" action="identity-welcome" method="post">

        <p>By continuing with your application, you confirm that:</p>

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "consent",
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "consent",
      checked: true,
      html: "I have read and understood the [service] <a>privacy policy (opens in a new tab)</a>. I understand how [service] will process my personal data when I'm applying online, before my application has been submitted"
    }
  ]
}) }}

        <button href="identity-welcome" class="govuk-button">Continue</button>


      </form>

    </div>
  </div>

{% endblock %}
